@model WebApplication1.Models.AddEmployeeViewModel
@{
}

<h1>Add employee</h1>
<form method="post" action="Register" class="mt-5">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input required type="text" class="form-control" asp-for="Name">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Email address</label>
    <input required type="email" class="form-control" asp-for="Email">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Password</label>
    <input required type="password" class="form-control" asp-for="Password">
  <div class="mb-3">
    <label for="" class="label-success">@ViewBag.DuplicateMessage</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
